.obr img {
    border: 6px solid pink;
    width: 30%;

}

.f {
    width: 200px;
}

.pta {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    border: solid 5px pink;
    width: 100vw;
    background-color: pink;
    text-decoration: underline;




    text-align: center;
}

.obr {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

body {
    background-color: pink;
}

.sipka:hover {
    transform: scale(1.1);
}

.sipka {
    
    width: 300px;
    background-color: pink;
}

.her {
    display: flex;

}

.csd {
    text-decoration: underline;
    color: black;
    font-family: 'Square Peg', cursive;
    position: absolute;
    top: 180px;
    left: 165px;
    font-size: larger;

}
.obr :hover{
    transform: scale(1.1);
}