.ani {
    border: solid 7px pink;
    width: 100vw;
    background-color: pink;
    text-align: center;
    text-decoration: underline;
    font-family: 'Kanit', sans-serif;
}

.livee {
    border: solid 7px pink;
    width: 100vw;
    text-align: center;
    font-family: 'Square Peg', cursive;
}

.live {
    border: solid 7px pink;
    width: 100vw;
    background-color: pink;
}

.games {
    border: solid 7px pink;
    width: 100vw;
    font-family: 'Square Peg', cursive;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.giff {
    text-align: center;
    
}
.giff :hover{
    transform: scale(1.1);
}
.sipka:hover {
    transform: scale(1.1);
}

.sipka {
    position: relative;
    width: 300px;
    background-color: pink;
}

.her {
    display: flex;

}

.csd {
    text-decoration: underline;
    color: black;
    font-family: 'Square Peg', cursive;
    position: absolute;
    top: 200px;
    left: 165px;
    font-size: larger;
    }