body {
    background-color: white;
    font-family: 'Kanit', sans-serif;
}



.zvir {

    font-family: 'Kanit', sans-serif;
    text-align: center;
    border: solid 5px pink;
    width: 100vw;
    background-color: pink;



    text-align: center;
}

h3 {
    font-family: 'Dancing Script';
}

.charita {
    text-align: center;


}

.onas {
    text-align: center;
}


.under {
    font-family: 'Square Peg', cursive;

}



.zvir {
    text-align: center;
    border: solid 5px pink;
    width: 100vW;


    text-align: center;
}

.charita {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    border: solid 5px pink;
    width: 100vw;
}

.imgss:hover {
    transform: scale(1.1);
}

.ooo:hover {
    transform: scale(1.1);
}

.jjj:hover {
    transform: scale(1.1);

}

.ddd:hover {
    transform: scale(1.1);
}

.abc:hover {
    transform: scale(1.1);
}

.abcds:hover {
    transform: scale(1.1);
}

.uer:hover {
    transform: scale(1.1);
}

.ahoj {
    font-family: 'Square Peg', cursive;
}

.paws {
    display: flex;
}

.charity {
    font-family: 'Square Peg', cursive;

    
    
}

.who {
    font-family: 'Square Peg', cursive;

}

.onas {
    text-align: center;
    border: solid 7px pink;
    width: 100vw;

}

.sipka:hover {
    transform: scale(1.1);

}

.cau {
    text-decoration: underline;
}

.volba {
    text-decoration: underline;
}

.about {
    text-decoration: underline;
}

.hello {
    text-decoration: underline;
}

.odkaz {
    background-color: pink;
    }
.gh{
    text-align: center;
}


.odkaz {
    background-color: pink;
    text-align: center;

}

.packy {
    border: solid 7px pink;
    width: 100vw;

}
