body {
    background-color: white
}
<html>
<head>
<style>
div {
    height:100px;
    width: 100px;
    background-color: pink
}
</style>
</head>
<body>
<div> <h3> www.vtipnazviratka.cz </h3> </div>
</body>
</html>