body {
    background-color: white
}



.zvir {

    font-family: 'Kanit', sans-serif;
    font-family: 'Dancing Script', kurzíva;
    text-align: center;
    border: solid 5px pink;
    width: 100vw;


    text-align: center;
}













.zvir {
    text-align: center;
    border: solid 5px pink;
    width: 100vW;


    text-align: center;
}