body {
    font-family: 'Kanit', sans-serif;
}

.obrazicek img {
    border: solid 7px pink;
    width: 30%;

}

.kopytnicii {

    text-align: center;
    border: solid 7px pink;
    width: 100vw;
    background-color: pink;
    text-decoration: underline;
}

.kopytnici {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    border: solid 7px pink;
    width: 100vw;
    background-color: pink;




    text-align: center;
}

.obrazicek {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

body {
    background-color: pink
}

.csd {
    text-decoration: underline;
    color: black;
    font-family: 'Square Peg', cursive;
    position: absolute;
    top: 90px;
    left: 165px;
    font-size: larger;

}