.obrazicek img {
    border: 6px solid pink;
    width: 30%;

}

.kopytnicii {
        
        font-family: 'Kanit', sans-serif;
        text-align: center;
        border: solid 5px pink;
        width: 100vw;
        background-color: pink;width: 200px; 
        
        text-align: center;


}

.kopytníci {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    border: solid 5px pink;
    width: 100vw;
    background-color: pink;




    text-align: center;
}

.obrazicek {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}