.galerie img {
    border: 6px solid pink;
    width: 30%;
}


.hlodav {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    border: solid 5px pink;
    width: 100vw;
    background-color: pink;
    text-decoration: underline;


    text-align: center;
}

.galerie {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.sipka:hover {
    transform: scale(1.1);
}

.sipka {
    position: relative;
    width: 300px;
    background-color: pink;
}

.her {
    display: flex;

}

.csd {
    color: black;
    font-family: 'Square Peg', cursive;
    position: absolute;
    top: 90px;
    left: 167px
}

.pink {
    background-color: pink;
}