.galerie img {
    border: 6px solid pink;
    width: 500px;
}

.veverka {
    width: 500px;
}

.hlodav {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    border: solid 5px pink;
    width: 100vw;
    background-color: pink;



    text-align: center;
}