.obrazky img {
    border: 6px solid pink;
    width: 30%;

}

.sandwich {
    width: 200px;
}

.selm {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    border: solid 5px pink;
    width: 100vw;
    background-color: pink;
    text-decoration: underline;




    text-align: center;
}

.obrazky {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

body {
    background-color: pink;
}