.hhh {
    font-family: 'Dancing Script';
}
<html>

<head>
    <style>
        /* unvisited link*/
        a:link {
            color: rgb(0, 0, 0)
        }

        /* visited link*/
        a:link {
            color: violet
        }

        /* mouse over link*/
        a:link {
            color: blueviolet
        }

        /* active */
        a:link {
            color: darkorchid
        }
    </style>
</head>

</html>