.ani {
    border: solid 7px pink;
    width: 100vw;
    background-color: pink;
    text-align: center;
    text-decoration: underline;
    font-family: 'Kanit', sans-serif;
}

.livee {
    border: solid 7px pink;
    width: 100vw;
    text-align: center;
    font-family: 'Square Peg', cursive;
}

.live {
    border: solid 7px pink;
    width: 100vw;
    background-color: pink;
}

.games {
    border: solid 7px pink;
    width: 100vw;
    font-family: 'Square Peg', cursive;
}

.giff {
    text-align: center;
    
}
.giff :hover{
    transform: scale(1.1);
}